.searchBox{
    background: rgb(5,3,18);
}
.sh{
    padding-top: 40px  ;
    text-align: center;
    font-size: 2vmin;
    color: #FFD95A;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 7px;
}
.hs{
    background: linear-gradient(3240deg,#C07F00,white);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 19px;
    text-align: center;
    font-size: 8vmin;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 2px;
}
/* Search Box */

.boxContainer{
    margin: auto;
    margin-top: 2%;
    position: relative;
    width: 570px;
    height: 42px;
    border: 2px solid #C07F00;
    padding: 0px 10px;
    border-radius: 50px;
}
.elementsContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    background-color: rgb(5,3,18);
    border: none;
    height: 100%;
    width: 100%;
    padding-left:2px;
    padding-right: 2px;
    border-radius: 50px;
    font-size: 18px;
    font-family:'Manrope', sans-serif;
    color: #FFD95A;
    font-weight: 500;
    letter-spacing: 2px;
}
.search:focus{
    outline: none;
}
.gg-search{
    font-size: 26;
    color: #FFD95A;
    cursor: pointer;
}

/* Cycles Types */
.wrapper{
    display: flex;
    justify-content: space-around;
    background:rgb(5,3,18);
    width:auto;
    padding: 100px 50px;
}
.main_container{
    width: 310px;
    height: 450px;
    padding: 1px 1px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.main_container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.494),rgb(241, 211, 76));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;

}
.main_container:hover:before{
    opacity: 1;
}
.main_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.main_container .overlay{
    position: relative;
    z-index: 3;
    color: #fff;
    transform: translate(30px);
    opacity: 0;
    transition: 0.5s all;
}
.main_container:hover .overlay{
    opacity: 1;
    transform: translate(50px);
} 
.main_container .overlay h1{
    font-size: 55px;
    font-family:'Manrope', sans-serif;
    background: linear-gradient(360deg,#000000,rgb(64, 24, 48));
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}