*{
    margin:0;
    padding: 0;
}
/* Navbar */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.pfp{
    width: 45px;
    height: auto;
    float: right;
    margin-left: 25px;
    padding: 2px 1px;
    cursor: pointer;
    border-radius: 70%;
}
.logo{
    width: 50px;
    height: auto;
    float: left;
    padding: 11px 22px;
    cursor: pointer;
    border-radius: 50%;
}
.navlinks{
    flex: 1;
    text-align: right;
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navlinks ul li a{
    color: #FFD95A;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    padding: 22px 22px;
}
.navlinks ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background:whitesmoke;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navlinks ul li:hover::after{
    width: 50%;
}

/* Text on main page */
header{
    width: 100vw;
    height: 100vh;
    background-image:url(/bg-3.jpg);
    width: 1520px;
    background-position: center;
    background-size: cover;
    position: relative;
    animation: change 10s infinite;
}
.header-content{
     margin-bottom: 350px;
     text-align: left;
     width: 100vw;
    height: 100vh;
    background-image:url(/bg-3.jpg);
    width: 1520px;
    background-position: center;
    background-size: cover;
    position: relative;
    animation: change 10s infinite;
}
.header-content h2{
    font-size: 10vmin;
    font-family:'Manrope', sans-serif;
    margin-bottom: 25px;
    margin-left: 78px;
    background: linear-gradient(630deg,#C07F00,white);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.rideNow-btn{
    display: inline-block;
    text-decoration: none;
    padding: 20px 90px;
    font-size: 33px;
    font-family:'Manrope', sans-serif;
    background: linear-gradient(3240deg,#000000,white);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    cursor: pointer;
}
.rideNow-btn:hover{
    background: linear-gradient(3240deg,#C07F00,white);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rideNow-btn::after{
    content:'';
    width: 0%;
    height: 2px;
    background:whitesmoke;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.rideNow-btn:hover::after{
    width: 50%;
}

/* Scrollbar */

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    height: 56  px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
